<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LakshyaSkinCare</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.clientserver.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.clientserver.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.clientserver.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cart</servlet-name>
    <servlet-class>com.clientserver.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Order</servlet-name>
    <servlet-class>com.clientserver.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Quantity</servlet-name>
    <servlet-class>com.clientserver.servlet.QuantityIncDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quantity</servlet-name>
    <url-pattern>/Quantity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Remove</servlet-name>
    <servlet-class>com.clientserver.servlet.RemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove</servlet-name>
    <url-pattern>/Remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Balance</servlet-name>
    <servlet-class>com.clientserver.servlet.BalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Balance</servlet-name>
    <url-pattern>/Balance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>com.clientserver.servlet.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyNow</servlet-name>
    <servlet-class>com.clientserver.servlet.BuyNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyNow</servlet-name>
    <url-pattern>/BuyNow</url-pattern>
  </servlet-mapping>
</web-app>